# Python
env/
__pycache__/
*.pyc
*.pyo

# Data brutes (télécharger via Kaggle - voir data/README.md)
data/raw/*.csv

# Data intermédiaires (régénérables via scripts/preprocessing.py)
data/processed/*.parquet

# Data Warehouse (régénérable via scripts/build_warehouse.py - 315 MB)
data/*.sqlite
data/*.db

# Notebooks checkpoints
.ipynb_checkpoints/

# Tests
tests/

# IDE
.vscode/
.idea/
