# Python
env/
__pycache__/
*.pyc
*.pyo

# Documentation locale (non versionnée)
# notes/

# Data intermédiaires (régénérables via scripts/preprocessing.py)
data/processed/*.parquet

# Data Warehouse (régénérable via scripts/build_warehouse.py - 315 MB)
data/*.sqlite
data/*.db

# Notebooks checkpoints
.ipynb_checkpoints/

# Tests
tests/

# IDE
.vscode/
.idea/
